<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="event">
            <h2><span>Event</span> {{event.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{event.name}}</span>
                </dd>
                <dt><span>Event Date</span></dt>
                <dd>
                    <span>{{event.eventDate}}</span>
                </dd>
                <dt><span>Attendee</span></dt>
                <dd>
                    <span *ngFor="let attendee of event.attendees; let last = last">
                        <a [routerLink]="['/attendee', attendee?.id, 'view' ]">{{attendee.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event', event.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
