
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="findMe()" #signUpForm="ngForm">
        <div class="form-group">
          <label for="description">Last Name</label>
          <input type="text" class="form-control" name="lastname" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Find Me</button>
        </div>
      </form>
      <div class="alert alert-warning">
          <span>New to Ameren? please register here</span>&nbsp;
          <a routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</div>
